

/* .my-custom-steps .ant-steps-item-tail {
  border-style: dashed !important; 
  border-color: #453858 !important; 
  width: 1px !important;
  left: 4px !important;
  margin-top: 2px !important;
}

.my-custom-steps .ant-steps-item-tail::after {
  border-style: dashed !important; 
  border-color: #453858 !important; 
  left: 4px !important;
} */
