.circle-spinner {
  position: relative;
  width: 80px;
  height: 80px;
  margin: auto;
  animation: rotate 2s linear infinite;
  align-items: center;
  justify-content: center;
  
}

.bar {
  position: absolute;
  width: 16px;
  height: 32px;
  background-color: red;
  top: 8px;
  left: 32px;
  transform-origin: center bottom;
  border-radius: 2px;
}
.spinner-scale {
  transform: scale(0.2);
}

/* Optional rotation for outer ring */
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
