@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
@import "tailwindcss";

@plugin "daisyui";

@theme {
  --color-primary: #3A2D4C;
  --color-primary-700: #A32385;
  --color-primary-600: #A26B84;
  --color-secondary-400: #EE2649;
  --color-secondary: #EC5176;
  --color-secondary-600: #B592A5;
  --color-secondary-700: #E5194C;
}


body {
  font-size: 12px !important;
  font-family: 'Noto Sans', sans-serif !important;
  @apply text-[#3E3E3E]; 
}

/* ripple effect */
.ripple-effect {
  position: relative;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

.ripple-effect:after {
  content: "";
  background: #EC5176;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.ripple-effect:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

.ripple-button {
  border-radius: 4px;
  border: none;
  margin: 8px;
  padding: 14px 24px;
  color: #fff;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.ripple-button>.ripple {
  width: 20px;
  height: 20px;
  position: absolute;
  background: #63a4ff;
  display: block;
  content: "";
  border-radius: 9999px;
  opacity: 1;
  animation: 0.9s ease 1 forwards ripple-effect;
}

@keyframes ripple-effect {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(10);
    opacity: 0.375;
  }

  100% {
    transform: scale(35);
    opacity: 0;
  }
}

.ripple-button>.content {
  position: relative;
  z-index: 2;
}

/* end ripple effect */